





<div class="jumbotron text-center" style="background-image:url('https://mrreiha.keybase.pub/codepen/hover-fx/3.jpg' );">

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Available Sorted</h5>
                    <p class="card-text">Categories of available stalk
                        content.</p>
                    <a class="btn btn-primary" asp-action="GetCurrentStalk">AVAILABLE STALK</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Clothes in Stalk</h5>
                    <p class="card-text">UnSorted list of all the cloths we have in store</p>
                    <a class="btn btn-primary" asp-action="Indexs">ALL STALK</a>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Boutiq History</h5>
                    <p class="card-text">All the Cloths that have been purchased from the boutiq
                    </p>
                    <a asp-action="GetSoldStalk" class="btn btn-primary">SOLD STALK</a>
                </div>
            </div>
        </div>
    </div>
</div>
